<div class="header">
  <h1 class="app-title">Каталог фильмов</h1>
  <app-movie-search (search)="onSearch($event)"></app-movie-search>
</div>

<div class="movie-list">
  @if (isLoading) {
    <p class="loading">Загрузка фильмов...</p>
  }

  @if (error) {
    <div class="error">
      Ошибка: {{ error }}
    </div>
  }

  @if (movies$ | async; as movies) {
    <div class="movies-container">
    @for (movie of movies; track movie.id) {
        <div class="movie-item" (click)="openMovieModal(movie)">
            <h3>{{ movie.title }}</h3>
            <p>Год: {{ movie.year }}</p>
            <p>Рейтинг: {{ movie.rating }}</p>
        </div>
    }
    </div>
  }
</div>

<app-movie-modal
  [movie]="selectedMovie"
  [isVisible]="isModalVisible"
  (close)="closeMovieModal()">
</app-movie-modal>
